fastapi
uvicorn
python-dotenv
langchain-community
langchain-huggingface
langchain-groq
pypdf
faiss-cpu
sentence-transformers 
python-multipart
pinecone-client
langchain-pinecone
openai
langchain-openai